<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            The CSGSG serves as the assembly of all graduate students in the
            Department of Computer Science at the University of Virginia.
            All graduate students, Master’s and PhD, within the department
            of computer science or in the computer engineering program
            are automatically members of the CSGSG.
        </p>
    </div>
</div> <!-- / section -->
