<div class="row section featured topspace">

    <h2 class="section-title"><span>Upcoming Events</span></h2>

    <div class="">
        
        {{ range where .Data.Pages "Section" "service" }}
            <div class="col-sm-6 col-md-3">
                <h3 class="text-center">{{ .Title }}</h3>
                <p>{{ .Summary }}</p>
                <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p>
            </div>
        {{ end }}

        <ul id="events-upcoming">
        </ul>
        <!-- <script src="js/FormatGoogleCalendar/format-google-calendar.min.js"></script> -->
        <script src="js/FormatGoogleCalendar/format-google-calendar.min.js"></script>
        <script>
          formatGoogleCalendar.init({
            calendarUrl: 'https://www.googleapis.com/calendar/v3/calendars/8pqsjq899pcdl9vpmtr8918i8s@group.calendar.google.com/events?key=AIzaSyCR3-ptjHE-_douJsn8o20oRwkxt-zHStY',
            past: false,
            upcoming: true,
            sameDayTimes: true,
            pastTopN: 5,
            upcomingTopN: 5,
            recurringEvents: true,
            itemsTagName: 'li',
            upcomingSelector: '#events-upcoming',
            pastSelector: '#events-past',
            upcomingHeading: '',
            // pastHeading: '<h2>Past events</h2>',
            format: ['<b>','*date*', '</b> <br />&emsp;&emsp;- ', '*summary*', ' &mdash; ', '*description*', ' @ ', '*location*'],
            timeMin: '2017-06-03T10:00:00-07:00',
            timeMax: '2020-06-03T10:00:00-07:00'
          });
        </script>
    </div>

</div> <!-- / section -->
