{{ partial "header.html" . }}

<main id="main">
	<div class="container">

		<div class="row topspace">
			<div class="col-sm-8 col-sm-offset-2">

 				<article class="post">
					<header class="entry-header">
 						<h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h1>
					</header>
					<div class="entry-content">	
						<div class="row section clients topspace">
						    <h2 class="section-title"><span>Student Bios</span></h2>
						    <div class="col-lg-12">
							<p>
							    <!-- <img src="images/sample_clients.png" alt=""> -->
							    <div class="row">
								{{ range .Site.Data.bios.card }}
								<div class="col-md-6 col-xs-12 col-sm-12">
									<img src="{{ .photo_url }}" alt="Lights" class="img-crop img-square">
									<div class="caption">
									    <p><strong>{{ .name }}</strong>, {{ .year }} year {{ .degree }}<br>
								 	    <strong>Advised by</strong>: {{ .advisor }}<br>
									    <strong>Research Category</strong>: {{ .category }} <br>
									    <strong>Research Interests</strong>: {{ .keywords }} <br>
									    <strong>Current Project</strong>: <br>
									    <strong>{{ .project_title }}.</strong>
									    {{ .project_desc }} </p>

									</div>
								</div>
								{{end}}


							    </div>

							</p>
						    </div>
						</div> <!-- /section -->
					</div>
				</article><!-- #post-## -->

			</div>
		</div> <!-- /row post  -->
	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
